.detail-contents{
    padding: 30px;

    .detail-title{
        font-size: 26px;
        font-weight: 400;
        a{
            position: relative;
            color: #555;
            line-height: 1.2;
            vertical-align: top;
        }
        a:before{
            content: '';
            position: absolute;
            z-index: -1;
            height: 2px;
            bottom: -4px;
            left: 51%;
            right: 51%;
            background: #108ee9;

            transition-duration: 0.4s;
            transition-property: right, left;
            transition-timing-function: ease-out;
            /* Firefox 4 */
            -moz-transition-property: right, left;
            -moz-transition-duration: 0.4s;
            -moz-transition-timing-function: ease-out;
            /* Safari and Chrome */
            -webkit-transition-property: right, left;
            -webkit-transition-duration: 0.4s;
            -webkit-transition-timing-function: ease-out;
            /* Opera */
            -o-transition-property: right, left;
            -o-transition-duration: 0.4s;
            -o-transition-timing-function: ease-out;
        }
        a:hover:before {
            left: 0;
            right: 0;
        }
        .medifyBtn{
            float: right;
        }
    }
    .detail-content{
        margin-top: 20px;
        overflow: auto;

        p{
            line-height: 28px;
            font-weight: 400;
            font-size: 14px;
        }
    }
    .post-meta{
        margin-top: 5px;
        margin-bottom: 20px;

        span{
            margin-right: 4px;
            a{
                text-decoration: none;
                color: #bbbbbb;
                padding-left: 5px;
                padding-right: 10px;
            }
        }
    }
}

/* Base styles */
body {
  color: #F0F0F0;
  background: #500;
  font-family: Arial, sans;
  margin: 0; padding: 0;
}

a {
    color: #0366d6;
}

h1 {
  font: bold 150% Arial, sans-serif;
  margin: 0; padding: 1em 0;
}

h2 {
  font: bold 120% Arial, sans-serif;
  margin: 1.5em 0 0.5em 0;
}

pre {
  margin: 0;
  font-size: 85%;
  background-color: #f6f8fa;
  border-radius: 3px;
  padding: 16px;
  word-break: normal;
  code{
    span.hljs-function{
        span.hljs-keyword{
            color: #d73a49;
        }
    }
    span.hljs-keyword{
        color: #6f42c1;
    }
    span.hljs-built_in{
        color: #005cc5;
    }
    
  }
}
p{
    code{
        padding: 0.2em 0.4em;
        margin: 0;
        font-size: 85%;
        background-color: rgba(27,31,35,0.05);
        border-radius: 3px;
    }
}

#sidebar {
  float: left; width: 16em; height: 1000em; position: fixed;
  padding: 1px 1em;
  background: #600;
  box-shadow: 0 0 15px black;
}

#sidebar ul,
#sidebar li {
  list-style: none;
  margin: 0; padding: 0;
}

#sidebar ul {
  position: relative;
  overflow-y: hidden;
}

#sidebar li {
  padding: 1px 1em;
  cursor: pointer;
}

#sidebar li:hover {
  background: #500;
}

#sidebar li.current:before {
  content: '▶'; font-size: smaller;
  position: absolute; left: 0;
}

#content {
  margin-left: 19em;
}

#languages {
  padding: 1px 4em;
}

#languages div {
  display: none;
}

#languages div {
  margin: 3em 0;
}
