.detail-contents{
    padding: 30px;

    .detail-title{
        font-size: 22px;
        line-height: 1;
        font-weight: 600;
        text-transform: uppercase;
        a{
            text-decoration: none;
            letter-spacing: 1px;
            color: #5f5f5f;
        }
        .medifyBtn{
            float: right;
        }
    }
    .detail-content{
        margin-top: 20px;

        p{
            line-height: 28px;
            font-weight: 400;
            font-size: 14px;
        }
    }
    .post-meta{
        margin-top: 5px;
        margin-bottom: 20px;

        span{
            margin-right: 4px;
            a{
                text-decoration: none;
                color: #bbbbbb;
                padding-left: 5px;
                padding-right: 10px;
            }
        }
    }
}