.layout{
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;

  .side{
    float: left;
    height: 100%;
    width: 25%;    
    text-align: center;
    border-right: 1px solid #ddd;
    overflow: auto;

    .logo {
      position: relative;
      padding-left: 16px;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      // background: #002140;
      overflow: hidden;
      padding-top: 16%;
    
      img{
        display: inline-block;
        vertical-align: middle;
        width: 200px;
        border-style: none;

        transition-property: transform;
        transition-duration: 1s;
        /* Firefox 4 */
        -moz-transition-property: transform;
        -moz-transition-duration: 1s;
        /* Safari and Chrome */
        -webkit-transition-property: transform;
        -webkit-transition-duration: 1s;
        /* Opera */
        -o-transition-property: transform;
        -o-transition-duration: 1s;
      }
      img:hover{
        transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
      }
    
      h2{
        vertical-align: middle;
        font-size: 20px;
        margin: 12px;
        font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-weight: 500;
      }
    }
    
  }
  .contents{
    float: left;
    width: 75%;
    height: 100%;
    padding: 24px;
    background: #fff;
  }
  .clear{
    clear: both;
  }
}


.ant-dropdown-link{
  display: inline-block;
  height: 100%;
  font-size: 14px;
  cursor: pointer;
  padding: 0 12px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.ant-dropdown-link:hover{
  color: #1890ff;
}
.nav-text{
  font-size: 14px;
}